# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
backend/venv/

# Django
db.sqlite3
backend/db.sqlite3
media/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Node
node_modules/
